body{
background-color: red;
background-image: url("duzzobckgrnd.jpg");
background-repeat: no-repeat;
}
.wrapper{
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: ;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  height: 100vh;
  width: 100vw;
}
.letter{
  align-items: center;
  border: 1px solid black;
  display: flex;
  font-size: 25px;
  justify-content: center;
}
